
#grid-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-grid {
    display: grid;
    width: 420px;
    height: 420px;
    grid-template-columns: repeat(21, 1fr);
    background-color: black;
}

.grid-square {
    background-color: black;
    width: 20px;
    height: 20px;
}

* {
    box-sizing: border-box;
}

.snake-square {
    background-color: chartreuse;
    border: 1.5px solid gray;
}

.apple-square {
    background-color: red;
    border: 2px solid white;
}